body{
    font-family: 'Poppins', sans-serif;
    background-color:#DDDDDD;
    color: var(--color);
}

 /*dark mode*/
 :root{
    --main:transparent;
    --color:black;
    --primary-color:#CD0A0A;
    --lien:#CD0A0A;
    --nav-color: #DDDDDD;
    --hover:#fff;
    --tran-03: all 0.3s ease;
    --toggle:#3A3B3C;
  }
.dark{
    --main:#222324;
    --primary-color:#3A3B3C;
    --color: white;
    --nav-color:grey;
    --lien:#CD0A0A;
    --hover:#3A3B3C;
    --toggle:#DDDDDD;
   
}



 /*8888*/
nav{
    
    background-color:var(--nav-color);
    
}
.logout{
    margin-left: 450px;
    
}

.toggle-btn{
        display: inline-block;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid var(--color);
        background: none;
        padding: 13px 15px;
        font-size: 15px;
        font-family: 'poppins';
        cursor: pointer;
        color: var(--color);
        position: relative;
        overflow: hidden;
        margin: 5px;
    
}
.deconnexion{
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid var(--color);
    background: none;
    padding: 10px 15px;
    font-size: 15px;
    font-family: 'poppins';
    cursor: pointer;
    color: var(--color);
    position: relative;
    overflow: hidden;
    margin: 5px;

}
.darkmode, .deconnexion i{
    text-decoration: none;
}
.darkmode i{
    transition: 0.2s linear;
}  
.darkmode:hover i{
    transform: scale(1.3);
    text-decoration: none;
} 
.side-menu{
    height: 100%;
}

.side-nav-button{
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.side-nav-button:hover{
    background-color: gray;
    border-radius: 30%;
}
.navbar-brand{
 margin-left: 100px;

}
div.side-menu{
    position: absolute;
    width: 60px;
    height: calc(120vh - 4rem);
    box-shadow: rgba(0, 0, 0,0.5);
    background-color:var(--nav-color);
    border-top: 1px solid white;
    overflow-x: hidden;
}
.border-white{
    border: 1px solid white;
}
.side-nav-content{
    color: rgb(0, 0, 0);
    width: 230px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.side-menu.active{
    width: 270px;
}


/*-----------*/
.toggle{
    margin-left: 70px;
    margin-top: 20px;
    color: grey;
}

.toggle.active{
    background: #DDDDDD;
    margin-left: 280px;
    margin-top: 20px;
}
.toggle ion-icon{
    position: absolute;
    display: none;
    font-size: 1.5em;
}
.toggle ion-icon:hover{
    color: var(--lien);
}
.toggle ion-icon.open,
.toggle.active ion-icon.close{
    display: block;
}
.toggle ion-icon.close, 
.toggle.active ion-icon.open{
    display: none;
}


/*-----------*/
.nav-list{
    list-style: none;
    height:100px;
    padding:0%;
    margin-bottom:0%;
}

.nav-list-item{
    display: flex;
    align-items: center;
    height: 60px;
}



.side-nav-content ul li{
    position: relative;
    list-style: none;
    width: 260px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.side-nav-content ul li:hover{
    background: var(--hover);
}
.side-nav-content ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    
}
.side-nav-content ul li:hover a{
    color: var(--lien);
}
.side-nav-content ul li.active{
    background: var(--hover);
}

/*dropdow menu*/
.dropdown ul li:hover{
    background: var(--hover);
}
.dropdown ul li:hover a{
    color: var(--primary-color);
    background-color: transparent;
}

/*8*/
.nav-list-item i{
    font-size: 20px;
    height: 25px;
    width: 25px;
    margin-right: 15px;
    margin-left: 10px;
    text-align: center;
    line-height: 25px;
}
.nav-list-item a {
    text-decoration: none;
    color: var(--color);
    font-family: 'poppins';
}

.side-menu .mode i{
    position: absolute;
}
.side-menu .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    color: var(--color);
    align-items: center;
}
.side-menu .mode i.sun{
    opacity: 0;
}
.side-menu .mode .toggle-switch{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
  
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    background: #fff;
    border-radius: 25px;
}
.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius:50%;
    top:50%;
    left: 5px;
    transform:translateY(-50%);
    background: var(--toggle);
    cursor: pointer;
    transition: var(--tran-03);
    
}
body.dark .switch::before{
    left: 24px;
}
/*espace*/
.espace{
    position: absolute;
    left: 200px;
    width: calc(100% - 250px);
    
}
h2{
    font-size: 1.5em;
    color: rgba(0, 0, 0,0.5);
    text-align: center;
    padding-top: 100px;
    font-family: 'poppins';
}

.espace img{
    width: 40%;
    height: 50%;
    margin-left: 300px;
    
}
/*main*/
.main{
    position: absolute;
    width: calc(100% - 0px);
   border: 1px solid #fff;
    min-height: 100vh;
    
    background: var(--main);
   
}
.main.active{
    width: calc(100% - 0px);
  
}

.annonce{
    margin-top: 40px;
    margin-right: 60px;
    margin-left: 80px;
    font-family: 'poppins';

}
.annonce.active{
    margin-left: 300px;
}
h5.card-title{
    color: #CD0A0A;
}
.col {
    display: inline-block;
    margin: 20px;
}

/* Inscription*/
.lien{
    text-align: center;
    margin-top: 190px;
}
.lienbtn{
    border-radius: 5px;
    border: 1px solid var(--lien);
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'poppins';
    cursor: pointer;
    color: var(--color);
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.lienbtn:hover{
color: #fff;
}

.lienbtn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: var(--primary-color);
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
}
.lienbtn:hover::before{
    height: 180%;
}


.soutenance{
    margin-top: 0px;
    margin-right: 60px;
    margin-left: 80px;
    font-family: 'poppins';
   

}
.soutenance.active{
    margin-left: 300px;
}





/*style registration
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4;
}*/
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: var(--primary-color);
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 1000px;
    background-color: #fff;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .span{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field span, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field span :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field span[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #265df2;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}
@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}
@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}

/*Mes informations*/
.information{
margin-top: 40px;
margin-right: 60px;
margin-left: 80px;
font-family: 'poppins';
}



.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #265df2;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}
@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}
@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}
div.track{
    text-align: center;
    color:var(--primary-color) ;
    font-size: 25px;
}











